#sorturl
{
    position: fixed;
    height: 0%;
    width: 0%;
    background-color:transparent;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
}
            
            
#signin
{
    position: fixed;
    height: 0%;
    width: 0%;
    background-color:transparent;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

#signup
{
    position: fixed;
    height: 0%;
    width: 0%;
    background-color:transparent;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
}
#header
{
    position: relative;
    height:20%;
    width:100%;
}
#content
{
    position: relative;
    height:60%;
    width:100%;
}
#contentC1
{
    position: relative;
    height:100%;
    width:35%;
    float:left;
}
#contentC2
{
    position: relative;
    height:100%;
    width:30%;
    background-color: #0c2635;
    float: left;
    box-shadow: 6px 6px 10px gray;
}
#logo_outer
{
	height:30%;
	width:100%;
	float:left;
}
#logoLeft
{
	height:100%;
	width:35%;
	float:left;
}
#logocenter
{
	height:100%;
	width:30%;
	float:left;
}
#logoright
{
	height:100%;
	width:35%;
	float:left;
}
.content2Rows
{
    height:10%;
	width:100%;
	float:left;
    font-family:"Monospace";
	font-size: 20px;
}
.label
{
	position:relative;
	height:100%;
	width:50%;
	float:left;
	font-family:"Monospace";
	font-size: 20px;
    text-indent: 20%;
}
.entries
{
	position: relative;
	height:100%;
	width:50%;
	float:left;
}
#contentC3
{
    position: relative;
    height:100%;
    width:35%;
    float: left;
}
#footer
{
    position: relative;
    height:20%;
    width:100%;
}
            
            
            
            
.sidenav 
{
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#sidenavphoto
{
    position:relative;
    margin-left:10%;
    background-color: yellow;
    height: 15%;
    width: 30%;
}
.sidenav a,.sidenav span
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover 
{
    color: #f1f1f1;
}

.sidenav .closebtn 
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) 
{
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
            
.dropdown 
{
    position: relative;
    height:100%;
    width:25%;
    float: left;
}
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color:#0e3042;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a 
{
    color: white;
    padding: 6%;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover 
{
    background-color:#83a5b8;
}

.dropdown:hover .dropdown-content 
{
    display: block;
}


#top
{
    position: relative;
    height:8%;
    width:100%;
    background-color:#0e3042;
}
#topR1
{
    position: relative;
    top:25%;
    height:50%;
    width:100%;
}
#topR1logo
{
    position: relative;
    margin-left:2%;
    height:100%;
    width:2.5%; 
    float: left;
}
#topR1tagname
{
    position: relative;
    margin-left:2%;
    height:100%;
    width:10%;  
    float: left; 
    text-align: left;
    font-size: 100%;
}
#topR1search
{
    position: relative;
    margin-left:41%;
    height:100%;
    width:20%; 
    float: left; 
}
#topR1searchinput
{
    width: 100%;
    height:100%;
    border-radius: 25px;
    background-color:#0e3042;
    border:steelblue solid 2px;
    color:white;
    text-indent:3%;
}
#topR1create
{
    position: relative;
    margin-left:2%;
    height:100%;
    width:6%;
    background-color:#ee6123;
    color:white;
    font-family: "Proxima Nova Semibold";
    font-size: 13px;
    text-indent: 8%;
    float: left;
}
#topR1createC1
{
    position: relative;
    height:100%;
    width:68%;
    float: left;
    border-right:white solid 1px;  border-right:white solid 1px;
}
#topR1createC2
{
    position: relative;
    height:100%;
    width:100%;
    background-color:aqua;  
    float: left; 
}
#topR1username
{
    position: relative;
    margin-left:2%;
    top:4%;
    height:85%;
    width:6%;  
    float: left; 
    border-radius: 8px;
    border:steelblue solid 2px;
    color:white;
    font-family: "Proxima Nova Semibold";
    font-size: 13px;
    text-align: center;
}
#topR1menu
{
    position: relative;
    margin-left:2%;
    top:4%;
    height:85%;
    width:2%;
    float: left; 
    border-radius: 10px;
    border:steelblue solid 2px;
}
#middle
{
    position: relative;
    height:30%;
    width:100%;
    background-color:#1f3f50;
}
#middleC1
{
    position: relative;
    height:100%;
    width:15%;
    float:left;
}
#middleC1R1
{
    position: relative;
    margin:5% 5% 5% 5%;
    height:23%;
    width:90%;
    float:left;
}
#middleC1R2
{
    position: relative;
    margin:5% 5% 5% 5%;
    height:23%;
    width:90%;
    float:left;
}
#middleC1R3
{
    position: relative;
    margin:5% 5% 5% 5%;
    height:23%;
    width:90%;
    float:left;
}
#middleC1R1Logo
{
    position: relative;
    height:100%;
    width:25%;
    float:left;
}
#middleC1R1Content
{
    position: relative;
    margin-left:5%;
    height:100%;
    width:70%;
    float:left;
    color: white;
}
#middleC1R1ContentR1
{
    position: relative;
    margin-top:2%;
    height:40%;
    width:100%;
    float:left;
    font-size: 25px;
}
#middleC1R1ContentR2
{
    position: relative;
    margin-top:2%;
    height:31%;
    width:100%;
    float:left;
    font: "Proxima Nova";
    font-size: 13px;
}
#middleC1R1ContentR3
{
    position: relative;
    margin-top:2%;
    height:23%;
    width:100%;
    float:left;
    color:white;
    opacity: .55;
    font: "Proxima Nova";
    font-size: 10px;
}
#middleC2
{
    position: relative;
    height:100%;
    width:85%;
    float:left;
}


#bottom
{
    position: relative;
    height:62%;
    width:100%;
}
#bottomC1
{
    position: relative;
    height:100%;
    width:32%;
    float: left;
    font: "Proxima Nova";
}
#bottomC1R1
{
    position: relative;
    height:7%;
    width:100%;
    float: left;
    background-color: #f9f9f9;
    opacity: .50;
    font-size: 15px;
}
.bottomC1R1C1
{
    position: relative;
    margin-left:5%;
    height:100%;
    width:70%;
    float: left;
}
.bottomC1R1C2
{
    position: relative;
    margin-left:5%;
    height:100%;
    width:20%;
    float: left;
}
.bottomC1content
{
    position: relative;
    margin-top: 3%;
    height:15%;
    width:100%;
    float: left;
}
.bottomC1contentdate
{
    position: relative;
    margin-top:1%;
    height:25%;
    width:100%;
    float: left;
    opacity: .50;
    font-size: 11px;
}
.bottomC1contenttitle
{
    position: relative;
    height:30%;
    width:100%;
    float: left;
    color: #464c50;
    font-size: 14px;
}
.bottomC1contentlink
{
    position: relative;
    height:30%;
    width:100%;
    float: left;
    color: #ee6123;
    font-size: 13px;
}
.bottomC1contentlinkC1
{
    position: relative;
    margin-left:5%;
    height:100%;
    width:70%;
    float: left;
}
.bottomC1contentlinkC2
{
    position: relative;
    margin-left:5%;
    height:100%;
    width:20%;
    float: left;
}
#bottomC2
{
    position: relative;
    height:100%;
    width:68%;
    float: left;
}
#bottomC2 iframe
{
    position: relative;
    height:100%;
    width:100%;
    border: #f1f1f1 solid 0px;
    float: left;
}

#line
{
    position:relative;
    height:1%;
    width: 100%;
    float:left;
    background-color: black;
}